@using FCK.Common
@model FCK.Studio.Dto.ArticleDto
@{
    ViewBag.Title = Model.Article_Title;
    ViewBag.Keywords = Model.Article_Keywords;
    ViewBag.Description = Model.Article_Description;
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section scripts{
    <script src="~/Content/js/fck-article-detail.js"></script>
}

<div class="fck-banner">
    <div class="container">
        <div class="text-center">
            @Html.Action("_PartialSearch", "Resources")
        </div>
    </div>
</div>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/Home/">首页</a></li>
        <li><a href="/Resources/">资源</a></li>
        <li class="active">@Model.Article_Title</li>
    </ol>
    <div class="row  fck-m-top">
        <div class="col-md-9">
            <div class="fck-w">
                <div class="fck-blog-detail">
                    <div class="text-center">
                        <h2>@Model.Article_Title</h2>
                        <p class="color9">
                            <span class="glyphicon glyphicon-tag"></span>@Model.Article_Tag
                            <span class="glyphicon glyphicon-time"></span>@Model.Article_UpdateTime
                            <span class="glyphicon glyphicon-heart"></span>@Model.Article_Collections
                            <span class="glyphicon glyphicon-eye-open"></span>@Model.Article_Hits
                        </p>
                    </div>
                    <div class="entry-content">
                        <div class="text-center">
                            <img src="/Content/img/blank.gif" data-original="@(Utility.ImgServer)@(Model.Article_Pic)" class="lazy" style="width:100%">
                        </div>
                        <hr />
                        @Html.Raw(Model.Article_Contents)
                    </div>
                    <hr />
                    <div class="text-center fck-mb30">
                        <ul class="list-inline">
                            <li>
                                <form id="FormCollection" name="FormCollection">
                                    <input type="hidden" name="Article_ID" value="@Model.Article_ID" />
                                    <input type="hidden" name="Article_Title" value="@Model.Article_Title" />
                                    <input type="hidden" name="Article_Pic" value="@Model.Article_Pic" />
                                    <input type="hidden" name="Member_ID" value="@CookieHelper.CookieVal("UserId")" />
                                    <input type="hidden" name="Member_NickName" value="@CookieHelper.CookieVal("UserName")" />
                                    <button class="btn btn-info btn-lg" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="登录后才能收藏"><span class="glyphicon glyphicon-heart"></span>收藏资源</button>
                                </form>
                            </li>
                            <li>
                                <form action="/Resources/GetResource" method="post" id="FormDownload">
                                    <input type="hidden" name="id" value="@Model.Article_ID" />
                                    <button type="button" class="btn btn-success btn-lg" onclick="CheckDownload(@ViewData["UserPoint"],@(Model.Article_Point))" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="发布资源，发表评论赚取M币">
                                        <span class="glyphicon glyphicon-download"></span>资源下载 (@(Model.Article_Point)M币)
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="fck-w">
                <div class="fck-title"><span>最新评论</span></div>
                @Html.Action("_PartialComments", "Article", new { articleid = Model.Article_ID })
                <form class="form-group" id="FormComment" name="FormComment">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="请至少输入12个字符的评语" id="Comment_Contents" name="Comment_Contents"></textarea>
                    </div>
                    <div class="text-right">
                        <input type="hidden" name="Article_ID" value="@Model.Article_ID">
                        <input type="hidden" name="Article_Title" value="@Model.Article_Title">
                        <input type="hidden" name="Member_ID" id="Member_ID" value="@CookieHelper.CookieVal("UserId")">
                        <input type="hidden" name="Member_NickName" value="@CookieHelper.CookieVal("UserName")">
                        <input type="hidden" name="Member_Header" value="@ViewData["UserHeader"]">

                        <ul class="list-inline">
                            <li>
                                <input type="text" id="vcode" name="vcode" class="form-control" placeholder="请输入图形验证码" required />
                            </li>
                            <li>
                                <img src="/Base/VeriCode" onclick="javascript:this.src='/Base/VeriCode?tm='+Math.random()" id="ChgCodeImg" />
                            </li>
                            <li>
                                <button type="submit" class="btn btn-success">确认发表</button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <div id="sideCate">
                <div class="panel panel-default">
                    <div class="panel-heading">资源贡献者</div>
                    <div class="panel-body">
                        @Html.Action("_PartialMemberInfo", "Article", new { memberid = Model.Article_MemberID })
                    </div>
                </div>
                
                <div class="fck-w">
                    <div class="fck-title-red"><span>资源分类</span></div>
                    @Html.Action("PartialCategory", "Article", new { catename = "资源", url = "/Resources/" })
                </div>
                <div class="fck-w">
                    <div class="fck-title-red"><span>热门资源</span></div>
                    @Html.Action("PartialHotArticles", "Article", new { top = 10, cateid = Model.Article_CateID, url = "/Resources/Detail/" })
                </div>
                <div class="fck-w">
                    <div class="fck-title-red"><span>热门标签</span></div>
                    <div class="fck-tags">
                        @Html.Action("PartialTags", "Article", new { catename = "资源", top = 30, url = "/Resources/" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
