@model FCK.Studio.Dto.FCKAPIParaDto
@{
    ViewBag.Title = "ParasEdit";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<script>
    $(function () {
        $("#Btn_Submit").click(function () {

            if ($("#Para_Name").val() == "") {
                alertE("请输入参数名！"); return false;
            }
            var options = {
                url: '/FckAPI/EditPara',
                type: 'post',
                success: function (result) {
                    if (result.code == 100) {
                        LoadDatas();
                    }
                    else
                        alertE(result.message);
                }
            };
            $("#SubmitForm").ajaxSubmit(options);
            return false;
        });
    });
</script>
<div class="container">
    <form class="form-horizontal" name="SubmitForm" id="SubmitForm">
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="Member_Mobile" class="col-sm-4 control-label">参数名</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" placeholder="参数名" id="Para_Name" name="Para_Name" value="@Model.Para_Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Member_Weixin" class="col-sm-4 control-label">参数类型</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="参数类型" id="Para_Type" name="Para_Type" value="@Model.Para_Type">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Member_Mobile" class="col-sm-4 control-label">参数长度</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="参数长度" id="Para_Length" name="Para_Length" value="@Model.Para_Length">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Member_Mobile" class="col-sm-4 control-label">是否必填</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="Para_Required" name="Para_Required">
                            @if (Model.Para_Required == 1)
                            {
                                <option value="1" selected="selected">是</option>
                                <option value="0">否</option>
                            }else
                            {
                                <option value="1">是</option>
                                <option value="0" selected="selected">否</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Member_Mobile" class="col-sm-4 control-label">参数说明</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="参数说明" id="Para_Intro" name="Para_Intro" value="@Model.Para_Intro">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <input type="hidden" id="ID" name="ID" value="@Model.ID">
                        <input type="hidden" id="API_ID" name="API_ID" value="@(Request.QueryString["apid"])">
                        <button type="submit" class="btn btn-success" id="Btn_Submit">确定</button>
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>
