<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="Keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />    <link href="/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/prettyPrint/css/prettify.css" rel="stylesheet" />   
    <link href="/Content/jquery.range.css" rel="stylesheet" />
    <link href="/Content/jquery-confirm.css" rel="stylesheet" />
    <link href="/Content/jquery.toast.min.css" rel="stylesheet" />
    <link href="~/Content/iconfont/iconfont.css" rel="stylesheet" />
    <link href="/Content/Style.css" rel="stylesheet" />
    <script src="/Content/js/jquery-1.11.2.min.js"></script>
    <script src="/Content/js/jquery.flexslider-min.js"></script>
    <script src="/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/bootstrap/js/bootstrap-datepicker.min.js"></script>
    <script src="/Content/js/jquery.lazyload.js"></script>
    <script src="/Content/js/jquery.range.js"></script>
    <script src="/Content/prettyPrint/js/prettify.js"></script>
    <script src="/Content/js/jquery.form.js"></script>
    <script src="/Content/js/jquery.validate.min.js"></script>
    <script src="/Content/js/jquery.validate.messages_zh.js"></script>
    <script src="/Content/js/validate-methods.js"></script>
    <script src="/Content/js/jquery-confirm.js"></script>
    <script src="/Content/js/sHover.min.js"></script>
    <script src="/Content/js/jquery.toast.min.js"></script>
    <script src="/Content/js/fck-common.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    @Html.Partial("~/Views/Shared/_PartialHeader.cshtml")
    @RenderBody()
    @Html.Partial("~/Views/Shared/_PartialFooter.cshtml")
</body>
</html>
